<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am</td>
        <td>Introduction</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am</td>        <!-- time    -->
        <td>Introduction to Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am</td>        <!-- time    -->
        <td>Introduction to Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm</td>
        <td>Introduction to Gromacs</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am</td>        <!-- time    -->
        <td>Docking with Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am</td>        <!-- time    -->
        <td>Docking with Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>Docking with Gromacs</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
