<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday 16 August 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am UTC+4</td>
        <td>Introduction</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Tuesday 17 August 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am  UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wednesday 18 August 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am UTC+4</td>        <!-- time    -->
        <td><a href="https://hpc-carpentry.github.io/hpc-shell/">HPC Shell continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am UTC+4</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm UTC+4</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Thursday 19 August 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am UTC+4</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am UTC+4</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm UTC+4</td>
        <td><a href="https://carpentries-incubator.github.io/hpc-intro/">Introduction to HPC continued</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday 20 August 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00am UTC+4</td>        <!-- time    -->
        <td><a href="https://github.com/bkmgit/modules/tree/bkmgit-sycl/Programming/sycl">Introduction to SYCL</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30am UTC+4</td>        <!-- time    -->
        <td>Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00pm UTC+4</td>        <!-- time    -->
        <td>Docking with Gromacs</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>2:00pm UTC+4</td>        <!-- time    -->
        <td><a href="https://gitlab.com/mark.j.abraham">Mark Abraham</a> <a href="https://github.com/bkmgit/2021-08-16-VCCAMRU-Online/raw/gh-pages/files/BuildingADeveloperCommunity.pdf">slides</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
